*{
    box-sizing: border-box;
}

body{
    width: 100%;
}

section {
    width: 25%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: space-between;
}

div{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
    margin-bottom: 10px;
}
label{
    margin-right: 10px;
  
}